.footer {
  padding: 0 0 50px 0;
  //background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.footer img {
  width: 50%;
}