.skill-box {
  padding: 0;
  margin-bottom: 2rem;
  position: relative;
  color: #fff;

}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider a img {
  width: auto;
}
/*
@media ({ max-width: 464, min-width: 0 }) { 
  .skill-box {
    top: -22rem; 
  }
 }
/*
tablet: {
  breakpoint: { max: 1024, min: 464 },
  items: 4,
},
mobile: {
  breakpoint: { max: 464, min: 0 },
  items: 2,
},