.skill-box {
  padding: 0 0 50px 0;
  position: relative;
  color: #fff;

}

.skill-slider {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 2rem; 
}
.skill-slider a img {
  width: auto;
}

@media (max-width: 1024) and (orientation: landscape) { 
  
  .skill-box {
    top: 22rem; 
  }
 }
/*
tablet: {
  breakpoint: { max: 1024, min: 464 },
  items: 4,
},
mobile: {
  breakpoint: { max: 464, min: 0 },
  items: 2,
},