.skill-box {
  padding: 0 0 50px 0;
  position: relative;
  color: #fff;

}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: -2
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}