.skill-box {
  padding: 10px;
  margin: auto;
  //position: relative;
  color: #fff;
}

h2 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #0d0b93 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.skill-slider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.skill-slider div {
  display: flex;
  jusity-content: start;
  gap: 0.5rem;
}

.skill-slider img {
  width: auto;
}


.cursos div ul {
  display: flex;
  /*jusity-content: space-between;
  gap: 2rem;
  flex-direction: row;
  height: 15rem;*/
}
